# Node dependencies
backend/node_modules/
frontend/node_modules/

# Environment
backend/.env
frontend/.env
.env

# Build / temporary folders
.dist
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Upload storage
backend/uploads/

# IDE files
.vscode/
